@import "tailwindcss";
@plugin "daisyui"{
    themes:all;
}
/*this is coming from the tailwind documentation tail wind does not have this by default*/
@layer base {
    button:not(:disabled),
    [role = "button"]:not(:disabled){
        cursor:pointer;
    }
}